<div class="search-container">
  <%= form_with url: "#", method: :get, local: true do |form| %>
    <%= form.text_field :query, placeholder: "who inspires you?", class: "search-input" %>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>
</div>
