// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";


// component specific css

@import "searchbar";
@import "searchresults";

body {
  height: 100%;
  background-color: #f9e8e3;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: black;
  margin-right: 20px; /* Adjust or reduce this if needed */
  font-size: 16px;
}

.navbar-link.logo {
  font-weight: bold;
  margin-right: 10px; /* Reduce margin if they are still too far apart */
}

.navbar-link.login {
  text-decoration: underline;
}

.navbar-link.library {
  padding: 5px 10px;
  border: 2px solid black;
  text-decoration: none;
}

.btn-primary {
  background-color: $pink;
  border-color: white
}


.footer {
  background: #f9e8e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color:#F674B4;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 60px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #F674B4;
  color: white; /* Text color */
  cursor: pointer; 
  padding: 15px; 
  border-radius: 5px;

.results-button {
  background-color: #F2CECE; /* Fill color */
  border: none; /* Remove default border */
  border-radius: 5%; /* Border radius */
  padding: 10px 20px; /* Padding for button */
  color: black; /* Text color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 5px; /* Margin between buttons */
  display: inline-block; /* Display as inline-block */
}

.results-button:hover {
  background-color: #e6bebe; /* Slightly darker fill color on hover */
}
}