// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner";


// component specific css

@import "searchbar";
@import "searchresults";

body {
  height: 100%;
  background-color: #f9e8e3;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: black;
  margin-right: 20px; /* Adjust or reduce this if needed */
  font-size: 16px;
}

.navbar-link.logo {
  font-weight: bold;
  margin-right: 10px; /* Reduce margin if they are still too far apart */
}

.navbar-link.login {
  text-decoration: underline;
}

.navbar-link.library {
  padding: 5px 10px;
  border: 2px solid black;
  text-decoration: none;
}

.btn-primary {
  background-color: $pink;
  border-color: white
}


.footer {
  background: #f9e8e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color:#F674B4;
}

.results-button {
  background-color: #F2CECE;
  border: none;
  border-radius: 5%;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
}

.results-button:hover {
  background-color: #e6bebe; /* Slightly darker fill color on hover */
}

#btn-back-to-top {
  position: fixed;
  bottom: 90px;
  right: 60px;
  border-color: #F674B4;
  box-shadow: 6px 6px #7BAEED, 12px 12px #FFCB56;
}

/* Add this CSS to your stylesheets (e.g., app/assets/stylesheets/application.css) */
.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px; /* Add padding to the container */
}

.library-card {
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.library-card-content {
  display: flex;
  align-items: flex-start;
}

.book-cover {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.book-info {
  flex-grow: 1;
}

.title-author {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-weight: bold;
}

.book-author {
  font-style: italic;
  margin-top: 5px;
}

.book-details {
  margin-top: 10px;
}

.book-details strong {
  display: block;
  margin-top: 5px;
}
