.search-container {
  text-align: center;
  padding: 20px;
}

.search-form .search-wrapper {
  display: inline-flex;
  align-items: center;
  border: 2px solid #000000;
  background-color: #f9e8e3;
  padding: 8px;
  width: 50%;
}

.search-form .search-input {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}

.search-form .search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
}

.search-form .search-button img {
  width: 24px;
  height: 24px;
}
